---

import ImgCard from "../ui/imgCard.astro";

const seleccionarImag = (name:string) => `../../public/imagenes/logosEmpresas/comercial/${name}`;
---

<section class="mx-auto w-[1000px] h-[800px] mt-1 mb-10">
    <h2 class="text-center font-bold text-red-600 text-3xl">Nuestros clientes</h2>
    <p class="text-center mt-12">Estos son unos de nuestros clientes que confiaron en nosotros</p>

    <div class="grid grid-cols-3 gap-6 mt-12">
        <ImgCard imagenUrl={seleccionarImag("disarko.webp")} titulo="Disarko"/>
        <ImgCard imagenUrl={seleccionarImag("coliseo.webp")} titulo="Coliseo Medplus"/>
        <ImgCard imagenUrl={seleccionarImag("veolia.webp")} titulo="Veolia"/>
    </div>
</section>