---
import Card from "../ui/Card.astro";

---

<section class="mx-auto w-[1000px] h-[800px] mt-2">
    <h2 class="text-center font-bold text-red-600 text-3xl">Nuestros Diseños</h2>

    <p class="mt-12 text-center">
      Diseñamos soluciones electricas integrales, eficientes y seguras para proyectos residenciales, comerciales e industriales, combinando tecnologia, normativa y estetica para garantizar calidad y funcionalidad
    </p>

    <!--Contenedor de los grid -->
    <div class="grid grid-cols-3 gap-5 mt-10">

        <!--Residencial -->
        <Card 
            imagenUrl="/imagenes/residencial.webp"
            titulo="Residencial"
            descripcion="Soluciones integrales en distribución eléctrica, iluminación, automatización y telecomunicaciones adaptadas a espacios habitacionales modernos y seguros."
            direccion="/nuestrosDiseños"
        />

        <!--Comercial -->
        <Card 
            imagenUrl="/imagenes/bar.webp"
            titulo="Comercial"
            descripcion="Diseño de instalaciones eficientes y funcionales que integran energía, redes, seguridad electrónica e iluminación para oficinas, locales y centros comerciales."
            direccion="/nuestrosDiseños"
        />

        <!--Industrial -->
        <Card 
            imagenUrl="/imagenes/industrial.webp"
            titulo="Industrial"
            descripcion="Desarrollo de sistemas eléctricos de potencia, automatización de procesos, cableado estructurado y telecomunicaciones de alta capacidad para plantas y entornos productivos."
            direccion="/nuestrosDiseños"
        />

    </div>
    
</section>