---
import Card from "../ui/Card.astro";
---

<section class="mx-auto w-full max-w-[1000px] px-4 sm:px-6 lg:px-8 py-8 md:py-11">

    <h2 class="text-center font-bold text-red-600 text-2xl sm:text-3xl md:text-4xl">Nuestros servicios</h2>

    <p class="mt-6 sm:mt-8 md:mt-12 text-center text-sm sm:text-base md:text-lg max-w-4xl mx-auto">
      Somos una empresa especializada en diseño, construcción y diagnóstico de proyectos 
      eléctricos en media y baja tensión. Ofrecemos servicios en telecomunicaciones, automatización,
      iluminación, ingeniería civil, arquitectura y seguridad electrónica, con un enfoque en la calidad, la innovación
      y la seguridad en el trabajo. Brindamos soluciones eficientes y confiables adaptadas a las necesidades de cada cliente.
    </p>

    <!-- Contenedor de los grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-5 mt-8 sm:mt-10 md:mt-12">

        <!-- Proyectos electricos -->
        <Card 
            imagenUrl="/imagenes/electricos.jpg"
            titulo="Proyectos Eléctricos" 
            descripcion="Instalaciones eléctricas en media y baja tensión, subestaciones, tableros de distribución y sistemas de puesta a tierra para edificaciones comerciales, industriales y residenciales."
            direccion="/servicios"
        />

        <!-- Telecomunicaciones -->
        <Card 
            imagenUrl="/imagenes/telecomunicaciones.webp"
            titulo="Telecomunicaciones"
            descripcion="Diseño e implementación de redes de voz y datos, fibra óptica, enlaces inalámbricos y telefonía IP."
            direccion="/servicios"
        />
    
        <!-- Cableado estructurado -->
        <Card 
            imagenUrl="/imagenes/cableado.webp"
            titulo="Cableado Estructurado"
            descripcion="Soluciones completas en infraestructura de red, desde canalización hasta certificación, garantizando conectividad eficiente, segura y escalable."
            direccion="/servicios"
        />

        <!-- Electricidad Media/Baja -->
        <Card 
            imagenUrl="/imagenes/electricidadBaja.webp"
            titulo="Electricidad Media y Baja Tensión"
            descripcion="Diseño, instalación y mantenimiento de redes eléctricas, subestaciones y tableros para proyectos industriales, comerciales y residenciales."
            direccion="/servicios"
        />

        <!-- Seguridad Electronica -->
        <Card 
            imagenUrl="/imagenes/seguridad.webp" 
            titulo="Seguridad Electrónica"
            descripcion="Implementación de sistemas de videovigilancia, alarmas, control de acceso, detección de incendios y protección perimetral."
            direccion="/servicios"
        />

        <!-- Automatizacion -->
        <Card 
            imagenUrl="/imagenes/automatizacion.webp" 
            titulo="Automatización"
            descripcion="Soluciones en automatización industrial, domótica, instrumentación de campo y sistemas SCADA."
            direccion="/servicios"
        />

        <!-- Ingeneria civil -->
        <Card 
            imagenUrl="/imagenes/civil.webp" 
            titulo="Ingeniería Civil"
            descripcion="Construcción de obras civiles como viviendas, bodegas, muros de contención, y estructuras técnicas para redes eléctricas."
            direccion="/servicios"
        />

        <!-- Arquitectura -->
        <Card 
            imagenUrl="/imagenes/arquitectura.webp" 
            titulo="Arquitectura"
            descripcion="Diseño arquitectónico enfocado en integración eficiente con sistemas eléctricos, telecomunicaciones e iluminación."
            direccion="/servicios"
        />

        <!-- Iluminacion -->
        <Card 
            imagenUrl="/imagenes/iluminacion.webp" 
            titulo="Iluminación"
            descripcion="Proyectos de iluminación interior y exterior con enfoque estético, funcional y de eficiencia energética."
            direccion="/servicios"
        />
    </div>
    
</section>
