---

---

<section class="relative w-full h-screen bg-cover bg-center" >
    <img src="../../../public/imagenes/cableado.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover z-0">

    <div class="absolute inset-0 flex items-center justify-center z-10">
            <div class="bg-[rgba(217,217,217,0.1)] p-12 border border-transparent rounded-xl w-[1200px] backdrop-blur-sm text-center">
                <h2 class="font-bold text-6xl mt-3 text-red-600 underline">MECACONTROL INGENERIA</h2>
                <p class="font-light text-base mt-2 text-red-600">Unete con nosotros para ser parte de tus proyectos </p> 
                <p class="font-Tahoma text-sm mt-6 text-center max-w-[600px] mx-auto text-black/70">
                    Somos una empresa especializada en el diseño, construcción y diagnóstico de instalaciones eléctricas de media y baja tensión. 
                    Ofrecemos soluciones integrales en sistemas de iluminación, telecomunicaciones y seguridad electrónica, 
                    con participación activa en proyectos de ingeniería civil y arquitectura.
                </p>

                <a 
                    class="rounded-full text-base border-transparent bg-red-800 hover:saturate-150 transition text-white px-6 py-3 inline-flex gap-x-2 justify-center items-center mt-9 cursor-pointer"
                    href="/contacto">Cotizar</a>
            </div>
    </div>
</section>

