---

---

<section class="relative w-full h-screen bg-cover bg-center" >
    <video autoplay muted loop playsinline src="../../public/fondovideo.mp4" class="relative top-0 left-0 w-full h-full object-cover z-0"></video>

    <div class="absolute inset-0 flex items-center justify-center z-10">
            <div class="bg-[rgba(217,217,217,0.1)] bg-opacity-30 border rounded-xl p-13 text-center text-black backdrop-blur-md">
                <h2 class="font-bold text-4xl mt-2 ">MECACONTROL INGENERIA</h2>
                <p class="font-light text-sm">Unete con nosotros para ser parte de tus proyectos </p> 
                <p class="font-light text-sm mt-6 text-left max-w-[600px] mx-auto">
                    Somos una empresa dedicada al deiseño, construccionn y diagnostico
                    de proyectos electricos de media y baja tension, iluminacion,telecomunicaciones y seguridad con
                    participacion en proyectos de ingeneria civil y arquitectura
                </p>

                <a 
                    class="rounded-full text-sm border bg-red-800 hover:saturate-150 transition text-white px-4 py-2 inline-flex gap-x-2 justify-center items-center mt-9 cursor-pointer"
                    href="/">Sobre Nosotros</a>
            </div>
    </div>
</section>

