---
---

<section class="py-16 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-red-600 text-center mb-12">
      Nuestra Historia
      <div class="w-20 h-1 bg-red-600 mx-auto mt-2 rounded-full"></div>
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
  
      <div class="w-full h-80 flex items-center justify-center rounded-xl shadow-sm">
        <img src="../../../public/icons/logo.png" alt="Logo">
      </div>


      <div class="space-y-6 text-gray-700 text-justify">
        <p>
          Mecacontrol Ingeniería S.A.S. nació con el propósito de brindar soluciones técnicas integrales en electricidad, telecomunicaciones y automatización. Desde sus inicios, ha estado comprometida con la calidad, la innovación y el cumplimiento, consolidándose como un aliado estratégico en sectores como la industria, el comercio, la educación y el entretenimiento.
        </p>
        <p>
          Con más de 15 años de experiencia, la empresa ha desarrollado proyectos en todo el país para clientes reconocidos del ámbito privado e institucional, integrando ingeniería eléctrica, civil, arquitectónica y tecnológica con altos estándares de seguridad y eficiencia.
        </p>
        <p>
          Hoy, Mecacontrol Ingeniería continúa creciendo, apostando por la mejora continua y el uso de tecnologías de vanguardia para seguir transformando espacios y conectando soluciones.
        </p>

        <!-- Métricas -->
        <div class="grid grid-cols-2 gap-4 pt-4">
          <div class="bg-white border border-gray-200 rounded-lg p-6 text-center shadow-sm">
            <p class="text-red-600 text-2xl font-bold">+15</p>
            <p class="text-sm text-gray-500">Años de Experiencia</p>
          </div>
          <div class="bg-white border border-gray-200 rounded-lg p-6 text-center shadow-sm">
            <p class="text-red-600 text-2xl font-bold">+20</p>
            <p class="text-sm text-gray-500">Proyectos Completados</p>
          </div>
          <div class="bg-white border border-gray-200 rounded-lg p-6 text-center shadow-sm">
            <p class="text-red-600 text-2xl font-bold">50</p>
            <p class="text-sm text-gray-500">Clientes Satisfechos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
