---
---

<section class="bg-gray-50 py-16 px-4">
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-3xl font-bold text-red-600 mb-2">Normas y Reglamentos</h2>
    <div class="w-16 h-1 bg-red-500 mx-auto mb-6"></div>
    <p class="text-gray-600 max-w-2xl mx-auto mb-10">
      Todos nuestros proyectos y servicios cumplen rigurosamente con las siguientes normas y reglamentos técnicos, garantizando la seguridad, calidad y conformidad con la legislación vigente.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="bg-white rounded-xl shadow-md p-6 text-left">
        <div class="flex items-center gap-3 mb-3">
          <div class="bg-red-100 p-2 rounded-full">
                <img src="../../../public/icons/contrato.png" alt="contrato" class="w-6">
          </div>
          <h3 class="text-lg font-bold">NTC 2050</h3>
        </div>
        <p class="text-sm text-gray-700">
          norma técnica que regula las instalaciones eléctricas en Colombia, con el objetivo de garantizar la seguridad de personas y bienes. Esta norma, basada en el National Electrical Code (NEC), busca proteger contra los riesgos derivados del uso de la electricidad. 
        </p>
      </div>

      
      <div class="bg-white rounded-xl shadow-md p-6 text-left">
        <div class="flex items-center gap-3 mb-3">
          <div class="bg-red-100 text-red-600 p-2 rounded-full">
             <img src="../../../public/icons/contrato.png" alt="contrato" class="w-6">
          </div>
          <h3 class="text-lg font-bold">RETIE</h3>
        </div>
        <p class="text-sm text-gray-700">
            conjunto de normas que regulan cómo deben ser las instalaciones eléctricas en Colombia para asegurar su seguridad y protección. Reglamento Técnico de Instalaciones Eléctricas - RETIE
        </p>
      </div>

     
      <div class="bg-white rounded-xl shadow-md p-6 text-left">
        <div class="flex items-center gap-3 mb-3">
          <div class="bg-red-100 text-red-600 p-2 rounded-full">
            <img src="../../../public/icons/contrato.png" alt="contrato" class="w-6">
          </div>
          <h3 class="text-lg font-bold">RETILAP</h3>
        </div>
        <p class="text-sm text-gray-700">
          Reglamento Técnico de Iluminación y Alumbrado Público, y es una norma colombiana que regula la iluminación y el alumbrado público. Su objetivo principal es garantizar la seguridad, eficiencia energética y calidad de las instalaciones de iluminación interior y exterior. 
        </p>
      </div>

  
      <div class="bg-white rounded-xl shadow-md p-6 text-left">
        <div class="flex items-center gap-3 mb-3">
          <div class="bg-red-100 text-red-600 p-2 rounded-full">
            <img src="../../../public/icons/contrato.png" alt="contrato" class="w-6">
          </div>
          <h3 class="text-lg font-bold">RITEL</h3>
        </div>
        <p class="text-sm text-gray-700">
         establece las características mínimas de la infraestructura de telecomunicaciones en edificios y viviendas sometidos al régimen de copropiedad. Su objetivo es garantizar que estas propiedades puedan recibir y transmitir servicios como telefonía, internet, televisión
        </p>
      </div>
    </div>
  </div>
</section>
