---

import CardPr from '../ui/CardPr.astro'
const seleccionarImagen= (name:string) => `../../public/imagenes/${name}`

const datos={
    gairaCafe: ["Iluminacion Para pasillos", "Iluminacion para baños", "Iluminacion para barras", "Ilumiancion para cocina"]  ,
    elementos: ["Uno", "Dos", "Tres", "Cuatro"]  
}
---

<section class="mx-auto max-w-6xl mt-10 px-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
    <CardPr 
      imagenUrl={seleccionarImagen("bar.jpg")}
      tipo="Comercial"
      titulo="Sistema de iluminación restaurante gaira café Bogotá"
      direccion="/nuestrosDiseños"
      lista={datos.gairaCafe}
      color="Azul"
    />

    <CardPr 
      imagenUrl={seleccionarImagen("industrial.jpg")}
      tipo="Industrial"
      titulo="Montaje de torres de comunicación, cámaras de alta capacidad, mástil para iluminación, torres de comunicación."
      direccion="/nuestrosDiseños"
      lista={datos.elementos}
      color=""
    />

    <CardPr 
      imagenUrl={seleccionarImagen("residencial.jpg")}
      tipo="Residencial"
      titulo="Sistema de iluminación restaurante gaira café Bogotá"
      direccion="/nuestrosDiseños"
      lista={datos.elementos}
      color="Verde"
    />
  </div>
</section>
