---

import Card from "../ui/Card.astro"

const seleccionarImagen= (name:string) => `../../public/imagenes/${name}`
---

<section class="mx-auto w-[1000px] h-[800px] mt-2">
    
    <!--Contenedor de los grid -->
    <div class="grid grid-cols-2 grid-rows-4 gap-5 mt-10">

        <!--Residencial -->
        <Card 
            imagenUrl={seleccionarImagen("residencial.jpg")}
            
            titulo="Sistema de iluminacion restaurante gaira cafe bogota"
            descripcion=""
            direccion="/nuestrosDiseños"
        />

        <!--Comercial -->
        <Card 
            imagenUrl={seleccionarImagen("bar.jpg")}
            titulo="Proyecto electrico y de iluminacion estudios de grabacion musica Iglesia El Lugar De Su Presencia "
            descripcion=""
            direccion="/nuestrosDiseños"
        />

        <!--Industrial -->
        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Montaje de torres de comunicación, camaras de alta capacidad, mastil para iluminacion, torres de comunicación."
            descripcion=""
            direccion="/nuestrosDiseños"
        />
         <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Proyecto electrico,de iluminacion y cableado estructurado (seguridad,biometrica,voz y datos ) oficinas PROACTIVA Bogota: "
            descripcion=""
            direccion="/nuestrosDiseños"
        />

        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Proyecto electrico,telecominicaciones ( seguridad,cableado estructurado voz y datos,cctv,biometria ) iluminacion, civil y arquitectura oficinas PDV S.A Bogota: "
            descripcion=""
            direccion="/nuestrosDiseños"
        />
        
        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Proyecto electrico iluminacion y telecomunicaciones restaurante ANDRES CARNE DE RES ."
            descripcion=""
            direccion="/nuestrosDiseños"
        />

        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Remodelación, proyecto eléctrico y telecomunicaciones oficina VEOLIA edificio AB Proyectos"
            descripcion=""
            direccion="/nuestrosDiseños"
        />
        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Estudio, diseño y montaje de red cableado estructurado para voz y datos, red normal y regulada DIRECCION DE PROTECCION Y SERVICIOS ESPECIALES POLICIA NACIONAL "
            descripcion=""
            direccion="/nuestrosDiseños"
        />
        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo=" Montaje del sistema de iluminacion para oficinas administrativas Holcim "
            descripcion=""
            direccion="/nuestrosDiseños"
        />
        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Montaje de redes para video, voz, datos e instalacion de video wall para videoconferencias y audio conferencias en el comando de operaciones de la armada."
            descripcion=""
            direccion="/nuestrosDiseños"
        />
        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Montaje del sistema de redes para voz, datos, y seguridad e instalacion de circuitos electricos normal y regulado en el Aeropuerto militar catam "
            descripcion=""
            direccion="/nuestrosDiseños"
        />
        <Card 
            imagenUrl={seleccionarImagen("industrial.jpg")}
            titulo="Montaje electrico de media tension red normal y regulada, montaje   para red de voz y datos al restaurante Andres Carne de Res Chia  "
            descripcion=""
            direccion="/nuestrosDiseños"
        />

         
       
         

    </div>
    
</section>

