---
import CardSeR from "../ui/CardSeR.astro";
---

<section>
    <CardSeR 
       icono="/icons/libro.png"
       titulo="Proyectos Electricos"
       descripcion="Instalaci칩nes electricas acorde a normativa NTC2050 y RETIE."
       imagenUrl="/imagenes/cableado.jpg"
       enlace="/contacto"
       listaA={[
         "Circuitos electricos",
         "Circuitos de iluminaci칩n",
         "Circuitos especiales",
         "Sistema de puesta a tierra",
         "Control electrico",
         "Dise침o y levantamiento de informacion (Planos)"

       ]}
       listaB={[
         "Acometidas electricas",
         "Circuitos de potencia",
         "Circuitos de iluminacion comercial e industrial",
         "Circuitos de 440v",
         "Distribucion electrica por electrobarras",
         "Mantenimiento electrico",
         "Montaje de subetsaciones electricas",
         "Dise침o y levantamiento de informacion (Planos)"
       ]}
/>


</section>