---

---

<section class="relative h-[1000px] bg-cover bg-center" style="background-image: url('/public/image.png');" >

    <div class="relative flex items-center justify-center h-full">
        <div class="text-center text-white">
            <h2 class="font-bold text-4xl mt-2">MECACONTROL INGENERIA</h2>
            <p class="font-light text-sm">Unete con nosotros para ser parte de tus proyectos </p> 
            <p class="font-light text-sm mt-6 text-left max-w-[600px] mx-auto">
                Somos una empresa dedicada al deiseño, construccionn y diagnostico
                de proyectos electricos de media y baja tension, iluminacion,telecomunicaciones y seguridad con
                participacion en proyectos de ingeneria civil y arquitectura
            </p>

            <button class="mt-6 px-6 py-2 bg-transparent text-red-700 font-medium border-2  text-sm cursor-pointer hover:bg-gray-200 transition">
                Sobre Nosotros
            </button>
        </div>
    </div>
</section>