---

---

<section class="relative h-[1000px] bg-cover bg-center" >
    <video autoplay muted loop playsinline src="../../public/fondovideo.mp4" class="absolute top-0 left-0 w-full h-full object-cover z-0"></video>

    <div class="relative flex items-center justify-center h-full">
        <div class="text-center text-black border rounded-xl p-13 bg-[#D9D9D9] ">
            <h2 class="font-bold text-4xl mt-2 opacity-100">MECACONTROL INGENERIA</h2>
            <p class="font-light text-sm">Unete con nosotros para ser parte de tus proyectos </p> 
            <p class="font-light text-sm mt-6 text-left max-w-[600px] mx-auto">
                Somos una empresa dedicada al deiseño, construccionn y diagnostico
                de proyectos electricos de media y baja tension, iluminacion,telecomunicaciones y seguridad con
                participacion en proyectos de ingeneria civil y arquitectura
            </p>

            <button class="mt-6 px-6 py-2 bg-transparent text-red-700 font-medium border-2  text-sm cursor-pointer hover:bg-gray-200 transition">
                Sobre Nosotros
            </button>
        </div>
    </div>
</section>