---

const {icon,titulo,descripcion} =Astro.props;
---


<div class="border rounded-xl p-6 shadow hover:shadow-lg transition text-center">
    <div class="text-red-500 mb-4 text-4xl">
        {icon}
    </div>
    <h3 class="text-gray-950 font-bold text-lg">{titulo}</h3>
    <p class="text-gray-500  text-sm">{descripcion}</p>
</div>
